@model MvcFolhetos.Models.Folhetos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>


    <p>@Html.DisplayFor(model => model.Titulo)</p>
    <p>@Html.DisplayFor(model => model.Descricao)</p>
    <p> De @Html.DisplayFor(model => model.DataInic) a @Html.DisplayFor(model => model.DataFim)</p>
    @for (var i = 1; i < @ViewBag.nPaginas + 1; i++)
    {
        <img srcset="@Url.Content("~/imagens/folheto" + ViewBag.id +"/pagina" + @i + ".jpeg")" width="100" height="147" />
    }

</div>
<div class="container">
    <h4>Folheto</h4>
    <hr />
    <div class="row" id="grelha-folhetos"></div>


    <div class="form-group">
        <span class="control-label col-md-2">Tags associados ao folheto</span>
        <div class="col-md-10">
            @{ string selected = "";}
            @foreach (var item in ViewBag.ListaDeTags)
            {
                selected = "";
                foreach (int opcaoID in Model.ListaDeTags.Select(b => b.ID))
                {
                    if (item.ID == opcaoID) { selected = "checked"; }
                }
                <input type="checkbox" name="opcoesEscolhidasDeTags" value="@item.ID" @selected disabled /> @item.Info
                <br />
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FolhetosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts {
    @*
        Container para "templates". Adiciono a classe "hidden" do Bootstrap (3)
        para que os conteúdos não sejam visíveis para o utilizador.
    *@
    <div class="hidden">
        <div id="template-folheto" class="col-sm-3">
            <a href="#" class="thumbnail">
                @* Imagem do folheto. *@
                <img class="img-responsive" />

                <div class="caption">
                    @* Nome do agente. *@
                    <h3></h3>

                    @* Data *@
                    <p></p>

                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
                    </button>


                </div>


            </a>

        </div>
    </div>
}


